<div class="apresentacao" id="apresentacao">
    <div class="texto">
      <h1>Olá, sou o Lucas Bennertz</h1>
      <p>Em que posso ajudá-lo hoje?</p>
      <p class="descricao">
        Desde que eu era criança, sempre fui muito interessado por tecnologia, e meu pai, como
        eletricista, sempre me apoiou e me ajudou. Assim, criei uma grande ligação com ela. Não demorou muito
        para que me interessasse pelo desenvolvimento de software. E este sou eu: um jovem cheio de sonhos, que
        busca sempre aprender mais e melhorar continuamente.
      </p>
    </div>
  
    <div class="imagem">
      <img src="/minha-foto.png" alt="Foto de Lucas Bennertz">
    </div>
</div>
  