.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    max-width: 150px;
    min-width: 120px;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    color: white;
    transition: 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-4px) scale(1.05);  /* Efeito de hover aprimorado */
}

mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-name {
    font-size: 1.2rem;  /* Aumenta a legibilidade do nome */
    font-weight: 500;
    margin: 0;
}

fa-icon{
    font-size: 2rem;  /* Aumenta o tamanho do ícone */
}
img{
    height: 4vh;
}