img{
  height: 3.9rem;
  width: 3.9rem;
}
mat-toolbar{
  background-color: #080909;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
}
a{
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: white;
  text-decoration: none;
  margin: 0dvh 1dvw
}


