img{
  height: 3.9rem;
  width: 3.9rem;
}
mat-toolbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
}
a{
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: white;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}

