.projects{
    height: 100vh;
    color: white;
    border: solid 1px transparent;
}
.projects h2{
    text-align: center;
    font-size: 5vw;
}
.cards{
    padding: 5vh 4vw;
    display: flex;
    justify-content: space-between;
}