<div class="projects" id="projetos">
    <h2>Meus Projetos</h2>
    <div class="cards">
        <app-cards nomeProjeto="StudyOS" imagemProjeto="/imagens/projetos/projeto_site_anottations.png" descProjeto="Aplicativo voltado para o estudo podendo resumir tópicos de matérias por meio de anotações."></app-cards>
        <app-cards nomeProjeto="urlShortener" imagemProjeto="/imagens/projetos/postman_foto.webp" descProjeto="Aplicação voltada para a redução de Urls onde além de criar a url reduzida também gera um qr code que facilita o acesso."></app-cards>
        <app-cards nomeProjeto="chatbot SDR" imagemProjeto="/imagens/projetos/imagem_chat.webp" linkProjeto="verzel-front-o8cyjikdn-lucasbennertzs-projects.vercel.app" descProjeto="Aplicação criada para simular a conversação com um chatbot de venda de produto, usando gemini para criação do modelo por meio de fine-tunning"></app-cards>
    </div>
</div>