.projects-card{
    background-color: rgba(255, 255, 255, 0.1);
    height: 60vh;
    width: 20vw;
    border-radius: 18px;
    transition: 1s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-card:hover{
    transform: scale(110%) ;
}
h2{
    text-align: center;
}
img{
    width: 15vw;
}
a{
    color: lightblue;
    text-decoration: none;
}
@media (max-width: 768px) {
    .projects-card {
        width: 80vw;
        height: auto;
        padding: 1rem;
    }
    img {
        width: 70vw;
    }
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}